<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Todas las líneas de autobuses urbanos de Palencia, en tu móvil.">
  <meta name="keywords" content="cassandra, app, android, bus lines, palencia, autobuses">
  <title>Cassandra</title>

  <meta property="og:image" content="https://raw.githubusercontent.com/enrmarc/images/master/img/cassandra_big.png">
  <meta property="og:site_name" content="http://enrmarc.github.io/cassandra">
  <meta property="og:description" content="Todas las líneas de autobuses urbanos de Palencia, en tu móvil.">
  <meta property="og:title" content="Cassandra — Autobuses urbanos de Palencia">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://enrmarc.github.io/cassandra">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>