<div class="overlay none">
  <div class="legal-scroll animatedFast fadeOutDown">
      <figure class="close">X</figure>
      <h3>Cassandra - Info</h3>
      <p>
        Consulta los tiempos de llegada de los autobuses urbanos de Palencia.
        Características:
      </p>

      <p>
        <ul>
          <li>Colaborativa: puedes mejorar la fiabilidad de Cassandra enviando tiempos de llegada (opcional)</li>
          <li>Actualizaciones diarias con tiempos de llegada más o menos precisos (opcional)</li>
          <li>Acceso a tus paradas más frecuentes</li>
          <li>Horarios y frecuencias de salida</li>
          <li>Funciona también en días festivos</li>
          <li>Sin anuncios</li>
        </ul>
      </p>

      <p>
        Si encuentras algún fallo (paradas que faltan o sobran, tiempos de llegada
        excesivamente erróneos) escribe a coyotev.org@gmail.com.

        Cassandra no está vinculada en absoluto con Alsa City (Palbus).
        Cassandra no puede estimar el tráfico ni los posibles desvíos que puedan sufrir las líneas;
        se recomienda que esté unos 5 minutos antes en la parada.
      </p>
  </div>
</div>