<div class="overlay none">
  <div class="legal-scroll animatedFast fadeOutDown">
      <figure class="close">X</figure>
      <h3>Cassandra - Info</h3>
      <p>
        Consulta los tiempos de llegada de los autobuses de Palencia.
      </p>

      <p>
        <ul>
          <li>Colaborativa: puedes mejorar la fiabilidad de Cassandra enviando tiempos de llegada (opcional)</li>
          <li>Acceso a tus paradas más frecuentes</li>
          <li>Funciona también en días festivos</li>
          <li>Sin anuncios</li>
        </ul>
      </p>

      <p>
        Si encuentras algún fallo escribe a <a href="mailto:coyotev.org@gmail.com">coyotev.org@gmail.com</a>.

        Cassandra no está vinculada en absoluto con Alsa City (Palbus).
        Cassandra no puede estimar el tráfico ni los posibles desvíos que puedan sufrir los buses;
        se recomienda que esté unos 5 min. antes en la parada.
      </p>
  </div>
</div>